@use "../foundation/functions" as *;
@use "../foundation/mixins" as m;
@use "../foundation/settings" as c;

// ===================================================================
//! VARIABLES
// ===================================================================

$font-family: "Roboto";
$font-family-cursive: "Yellowtail";
$font-family-content: "Open Sans";

// ===================================================================
//! BODY STYLES
// ===================================================================

body {
  min-width: c.$minWidth + px;
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color);
  background-color: limegreen;
  transition: background-color var(--transition-duration);
  @include m.adaptiveValue("font-size", 16, 14);
}


// ===================================================================
//! DIALOG-RELATED STYLES
// ===================================================================

body:has(.dialog-hamburger[open], .chat-assistant__modal[open]) {
  @media (max-width: c.$mobile) {
    overflow: hidden;
  }
}

//======================================================================

@media (any-hover: hover) {
  li:not(.nav__item) {
    transition: all 0.4s;
  }
  li:has(a:hover) {
    box-shadow: 0px 0px 67px -29px rgba(34, 60, 80, 0.23);
    transition: box-shadow 0.1s;
    h3 {

      color: var(--green-color);
      transition: color var(--transition-duration);
    }
  }
  ul:has(li:hover) {
    li:not(:hover) {
      transition: all 0.4s;
      opacity: 0.8;
      filter: grayscale(70%);
    }
  }
}

// ===================================================================
//! SECTION STYLES
// ===================================================================

section {
  position: relative;
}

// ===================================================================
//! HEADINGS
// ===================================================================

h1 {

  font-family: $font-family-cursive;
  font-style: italic;
  color: var(--warning-color);
  @include m.adaptiveValue("font-size", 36, 28);

  @container style(--locale: be) {
    font-family: $font-family-content;
    letter-spacing: 0.03em;
  }

  @container style(--locale: ru) {
    letter-spacing: 0.02em;
  }

}

h2 {

  @include m.adaptiveValue("font-size", 26, 20);

  @container style(--locale: be) {
    font-family: $font-family-content;
    letter-spacing: 0.03em;
  }

  @container style(--locale: ru) {
    letter-spacing: 0.02em;
  }

}

h3 {

  @include m.adaptiveValue("font-size", 18, 16);

  @container style(--locale: be) {
    font-family: $font-family-content;
    letter-spacing: 0.03em;
  }

  @container style(--locale: ru) {
    letter-spacing: 0.02em;
  }
}

h4 {

  @include m.adaptiveValue("font-size", 16, 14);

  @container style(--locale: be) {
    font-family: $font-family-content;
    letter-spacing: 0.03em;
  }

  @container style(--locale: ru) {
    letter-spacing: 0.02em;
  }
}

// ===================================================================
//! PARAGRAPHS AND LISTS
// ===================================================================

//...

// ===================================================================
//! QUOTES
// ===================================================================

blockquote {
  font-weight: 700;
  color: var(--color);
  @include m.containerAdaptive("font-size", 20, 18);
}

// ===================================================================
//! LINKS
// ===================================================================

a {
  color: inherit;
  &[class] {
    text-decoration: none;
  }

  &:focus-visible {
    outline: toRem(2) dashed var(--warning-color);
    outline-offset: toRem(4);
    transition-duration: 0s !important;
  }
}

// ===================================================================
//! FORM ELEMENTS
// ===================================================================

.router-link-active {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  font-weight: 600;
}

button,
label,
select,
input {
  &:focus-visible {
    outline: toRem(2) solid var(--warning-color);
    outline-offset: toRem(4);
    transition-duration: 0s !important;
  }
}

